## for Local Build

# Mandatory Vars

NAME='Beb'
## Name of receiver

PIC='sample-pic.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Ah j'mork'
## A Nickname for more personalization

HBD_MSG='Happy birthday'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2025-11-18'
## Active Date in YYYY-MM-DD format
